@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    var(--font-source-sans-3), Helvetica, var(--font-noto-sans-jp), sans-serif;
  --font-main-title: var(--font-source-sans-3), Helvetica, sans-serif;
  --font-heading:
    var(--font-raleway), Helvetica, var(--font-noto-sans-jp), sans-serif;

  --color-brand: #49fcd4;
  --color-brand-dark: #43d9b8;

  --paradigm: url('./_assets/paradigm.svg');

  @keyframes wave {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translate(100%);
    }
  }
}

@layer base {
  a:not([class]):not(:is(.prose *)) {
    @apply text-inherit border-b border-dotted transition-[border-bottom-color] duration-250 ease-in-out hover:border-transparent focus:outline-3 focus:outline-offset-2 focus:outline-brand;
  }
}

@utility section-grid {
  @variant lg {
    grid-template-areas:
      'header content'
      'footer content';
    @apply grid grid-cols-2 grid-rows-1 gap-y-20;
  }
}

@utility section-* {
  @variant lg {
    grid-area: --value('content', 'footer', 'header');
  }
}
