.arrow-link {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 4rem;
  font-size: 4rem;
  border-bottom: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  width: 20rem;
  padding-left: 0;
  margin-top: -1rem;
  margin-left: auto;
  cursor: default;
  list-style: none;
}

@media (max-width: 1152px) {
  .actions {
    display: none;
  }
}

.actions__item {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

.actions__item:first-child {
  padding-left: 0;
}

@media (max-width: 480px) {
  .actions__item {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 1rem 0 0 0;
    text-align: center;
  }
}

.key-visual {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  left: 50vw;
  width: 50vw;
  padding: 0 5rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 1280px) {
  .footer {
    padding: 0 4rem;
  }
}

@media (max-width: 1152px) {
  .footer {
    left: 0;
    width: 100%;
    padding: 0 4rem 4rem 4rem;
  }
}

@media (max-width: 736px) {
  .footer {
    padding: 0 2rem 2rem 2rem;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}

.footer__link {
  color: inherit;
}
