.container {
  min-height: 100%;
  padding: 4rem 1rem 1rem;
  background-color: #49fcd4;
}

@supports (height: 100dvh) {
  .container {
    min-height: 100dvh;
  }
}

.main {
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

.backToTop {
  margin: 10rem 0 0;
}
