.list {
  padding-left: 0;
  list-style: none;
}

.list__item {
  padding-left: 0;
  margin: 0 0 3rem 0;
}

@media (max-width: 736px) {
  .list__item {
    margin: 0 0 2rem 0;
  }
}

.list__item:last-child {
  margin-bottom: 0;
}

.list__item :last-child {
  margin-bottom: 0;
}

.list__title {
  margin: 0 0 1rem 0;
}

.icons {
  padding-left: 0;
  cursor: default;
  list-style: none;
}

.icons__item {
  display: inline-block;
}

.icons__item:last-child {
  padding-right: 0;
}

.icon-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
  text-align: center;
  text-decoration: none;
  border-bottom: 0;
  border-radius: 2.25rem;
  transition: background-color 0.25s ease-in-out;
}

.icon-link:hover {
  background-color: rgba(144, 144, 144, 0.1);
}

.icon-logo {
  width: 1em;
  height: 1em;
}
