.section {
  display: grid;
  grid-template-areas: 'header content' 'footer content';
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 1fr;
  margin: 7.5rem 0 0 0;
  position: relative;
}

@media (max-width: 1280px) {
  .section {
    margin: 6rem 0 0 0;
  }
}

@media (max-width: 1152px) {
  .section {
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin: 0;
  }
}

@media (max-width: 736px) {
  .section {
    margin: 0;
  }
}

@media (max-width: 360px) {
  .section {
    margin: 0;
  }
}

.section--active {
}

.intro {
  align-items: center;
  margin-top: 0;
  opacity: 0;
  transition: opacity 1s ease;
}

@media (max-width: 1152px) {
  .intro {
    margin-bottom: 0;
  }
}

.intro--active {
  opacity: 1;
}

.section__header {
  grid-area: header;
  justify-self: end;
  padding: 0 10rem 0 5rem;
  text-align: right;
  width: 35rem;
}

@media (max-width: 1152px) {
  .section__header {
    padding: 0 8rem 0 4rem;
    width: 33rem;
  }
}

@media (max-width: 1152px) {
  .section__header {
    background-attachment: fixed;
    background-color: #49fcd4;
    background-image: url('../_assets/paradigm.svg');
    background-position: 25% 50%;
    background-repeat: repeat-y;
    background-size: 40rem auto;
    justify-self: start;
    padding: 4rem 4rem;
    text-align: left;
    width: 100%;
  }
}

@media (max-width: 736px) {
  .section__header {
    padding: 3rem 2rem;
  }
}

@media (max-width: 360px) {
  .section__header {
    padding: 2.25rem 1.5rem;
  }
}

.section__header::before {
  background-color: #43d9b8;
  content: '';
  display: block;
  height: calc(100% + 10rem);
  left: calc(50vw - 5rem);
  margin-top: 1rem;
  position: absolute;
  width: 2px;
}

@media (max-width: 1280px) and (max-width: 1152px) {
  .section__header::before {
    margin-left: 0;
  }
}

@media (max-width: 1152px) {
  .section__header::before {
    display: none;
  }
}

:global(.content .section:last-of-type) .section__header::before {
  height: 100%;
}

:global(.content .section:last-of-type) .section__header::after {
  background-color: #43d9b8;
  border-radius: 0.5rem;
  bottom: -1.5rem;
  content: '';
  display: block;
  height: 0.5rem;
  left: calc(50vw - 5rem - 0.25rem + 1px);
  position: absolute;
  width: 0.5rem;
  z-index: 1;
}

@media (max-width: 1152px) {
  :global(.content .section:last-of-type) .section__header::after {
    display: none;
  }
}

.intro__header {
  padding-top: 4rem;
  transform: translateY(1rem);
  transition: transform 1s ease;
  width: 100%;
}

@media (max-width: 1152px) {
  .intro__header {
    margin-bottom: 0;
    padding: 8rem 4rem 5rem 4rem;
  }
}

@media (max-width: 736px) {
  .intro__header {
    padding: 5.5rem 2rem 2.5rem 2rem;
  }
}

@media (max-width: 360px) {
  .intro__header {
    padding: 4.875rem 1.5rem 1.875rem 1.5rem;
  }
}

.intro__header::before {
  height: calc(100vh + 10rem);
  left: auto;
  margin-left: calc(50vw - 10rem);
}

@media (max-width: 1152px) {
  .intro__header::before {
    margin-left: 0;
  }
}

.intro__header--active {
  transform: translateY(0);
}

@media (max-width: 1280px) {
  .intro__header,
  .intro__header--active {
    transform: none;
    transition: none;
  }
}

.section__title {
  margin: 0 0 5rem 0;
  position: relative;
}

.section__title::before {
  background-color: #43d9b8;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  right: -5rem;
  top: 1rem;
  width: 2.5rem;
}

@media (max-width: 1152px) {
  .section__title:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1152px) {
  .section__title::before {
    display: none;
  }
}

.section__title::after {
  background-color: #43d9b8;
  border-radius: 0.5rem;
  content: '';
  display: block;
  height: 0.5rem;
  position: absolute;
  right: -2.5rem;
  top: 0.75rem;
  width: 0.5rem;
}

@media (max-width: 1152px) {
  .section__title::after {
    display: none;
  }
}

.intro__title {
  margin: -2rem 0 1.5rem auto;
  width: 20rem;
}

@media (max-width: 1280px) and (max-width: 1152px) {
  .intro__title {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .intro__title {
    opacity: 0;
    transform: translate(-0.5rem);
    transition:
      transform 1s ease,
      opacity 1s ease;
  }
}

@media (max-width: 1152px) {
  .intro__title {
    width: 100%;
  }
}

.intro__title::before {
  top: 3rem;
}

.intro__title::after {
  top: 2.75rem;
}

@media (max-width: 1280px) {
  .intro__title--active {
    opacity: 1;
    transform: translate(0);
  }
}

.intro__tagline {
  font-family:
    var(--font-raleway), Helvetica, var(--font-noto-sans-jp), sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.175rem;
  line-height: 2.5;
  margin-left: auto;
  text-transform: uppercase;
  width: 20rem;
}

@media (max-width: 1280px) and (max-width: 1152px) {
  .intro__tagline {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .intro__tagline {
    opacity: 0;
    transform: translate(-0.5rem);
    transition:
      transform 1s ease,
      opacity 1s ease;
  }
}

@media (max-width: 1152px) {
  .intro__tagline {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .intro__tagline--active {
    opacity: 1;
    transform: translate(0);
  }
}

.section__content {
  grid-area: content;
  max-width: 60rem;
  padding: 0 5rem;
  position: relative;
}

@media (max-width: 1152px) {
  .section__content {
    padding: 4rem 4rem;
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 736px) {
  .section__content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 360px) {
  .section__content {
    padding: 2.25rem 1.5rem;
  }
}

.intro__content {
  height: 100vh;
  max-width: none;
  transform: translateY(-1rem);
  transition: transform 1s ease;
}

.intro__content--active {
  transform: translateY(0);
}

@media (max-width: 1280px) {
  .intro__content,
  .intro__content--active {
    transform: none;
    transition: none;
  }
}

.footer {
  grid-area: footer;
  padding: 0 10rem;
  text-align: right;
}

@media (max-width: 1152px) {
  .footer {
    padding: 0 4rem 4rem 4rem;
    text-align: left;
  }
}

@media (max-width: 736px) {
  .footer {
    padding: 0 2rem 3rem 2rem;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 0 1.5rem 2.25rem 1.5rem;
  }
}

.textSkeleton {
  --skeleton-background-color: rgba(221, 221, 221, 0.7);

  background-color: var(--skeleton-background-color);
  border-radius: 0.25em;
  display: inline-block;
  height: 1em;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 10em;
}

@keyframes wave {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translate(100%);
  }
}

.textSkeleton::after {
  animation: wave 1.5s linear 0.3s infinite;
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--skeleton-background-color),
    transparent
  );
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(-100%);
}
