# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

env:
  # renovate: datasource=npm depName=corepack
  COREPACK_VERSION: 0.32.0
  # renovate: datasource=node-version depName=node
  NODE_VERSION: 22.16.0

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Enable corepack
        run: |
          npm install -g corepack@${COREPACK_VERSION}
          corepack enable
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: pnpm
          node-version: ${{ env.NODE_VERSION }}
      - run: pnpm install
      - run: pnpm build --filter './packages/*'
      - run: pnpm format-check
      - run: pnpm lint
