# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

permissions:
  contents: read

env:
  # renovate: datasource=npm depName=corepack
  COREPACK_VERSION: 0.34.5
  # renovate: datasource=node-version depName=node
  NODE_VERSION: 22.21.1

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Enable corepack
        run: |
          npm install -g corepack@${COREPACK_VERSION}
          corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: pnpm
          node-version: ${{ env.NODE_VERSION }}
      - run: pnpm install
      - run: pnpm typegen
      - run: pnpm exec biome ci --css-parse-tailwind-directives=true
      - run: pnpm test
      - run: pnpm validate
