# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

env:
  # renovate: datasource=npm depName=corepack
  COREPACK_VERSION: 0.34.0
  # renovate: datasource=node-version depName=node
  NODE_VERSION: 22.19.0

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Enable corepack
        run: |
          npm install -g corepack@${COREPACK_VERSION}
          corepack enable
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          cache: pnpm
          node-version: ${{ env.NODE_VERSION }}
      - run: pnpm install
      - run: pnpm build --filter './packages/*'
      - run: pnpm format-check
      - run: pnpm lint
